#if($error)
<h2>Fout</h2>
<p>
	De opgegeven combinatie van gebruikersnaam en wachtwoord is ongeldig.
</p>
#end
<script type="text/javascript">

    var docroot = "#springUrl('/')";

</script>

<div data-dojo-type="dijit/form/Form" method="POST" action="#springUrl('/changePassword')">
	<table class="cds-table login" width="30%" id="login">
		<thead>
			<tr>
				<th align="left">Wachtwoord wijzigen</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td width="10%">
					<label for="passwordOld">Oud wachtwoord: </label><br />
				</td>
				<td width="10%">
					#springFormPasswordInput("changePasswordForm.passwordOld" 'data-dojo-type="dijit/form/TextBox" style="width:100%"')
					#springShowErrors("<br>" "error")
					<br />
				</td>
			</tr>
			<tr>
				<td width="10%">
					<label for="passwordNew">Nieuw wachtwoord: </label><br />
				</td>
				<td width="10%">
					#springFormPasswordInput("changePasswordForm.passwordNew" 'data-dojo-type="dijit/form/TextBox" style="width:100%"')
					#springShowErrors("<br>" "error")
					<br />
				</td>
			</tr>
			<tr>
				<td width="10%">
					<label for="passwordConfirm">Bevestig wachtwoord: </label><br />
				</td>
				<td width="10%">
					#springBind("changePasswordForm.passwordsEqual")
					#springShowErrors("<br>" "error")
				
					#springFormPasswordInput("changePasswordForm.passwordConfirm" 'data-dojo-type="dijit/form/TextBox" style="width:100%"')
					#springShowErrors("<br>" "error")
					<br />
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<th colspan="2" align="left">
					<div id="stdButton">
						<button data-dojo-type="dijit/form/Button" type="submit" name="changePassword" title="Voer het wijzigen wachtwoord uit">Wijzigen</button>
						<button data-dojo-type="dijit/form/Button" type="button" name="back" value="back" title="Terug">Annuleren
							<script type="dojo/method" data-dojo-event="onClick">
								document.location.href = docroot;
							</script>
						</button>
					</div>
				</th>
			</tr>
		</tfoot>
	</table>
</div>
