#set($viewName = '_ba_gebruikersbeheer_gebruikers')

<form method="POST" action="#springUrl('/ba/gebruikersbeheer/autorisatie/gebruikers/')#e($gebruiker.gebruikersnaam)/edit" data-return-url="#springUrl('/ba/gebruikersbeheer/autorisatie/gebruikers')">

	<table class="cds-table">
		<thead>
			<tr>
				<th>
					Bronhouder
				</th>
				<th>
					Thema
				</th>
				<th>
					Autorisatie
				</th>
			</tr>
		</thead>
		<tbody>
			#foreach($bronhouderThema in $bronhouderThemas)
			<tr>
				<td>
					#if($autorisatie.containsKey($bronhouderThema))<strong>#end
					#e($bronhouderThema.bronhouder.naam)
					#if($autorisatie.containsKey($bronhouderThema))</strong>#end
				</td>
				<td>
					#if($autorisatie.containsKey($bronhouderThema))<strong>#end
					#e($bronhouderThema.thema.naam)
					#if($autorisatie.containsKey($bronhouderThema))</strong>#end
				</td>
				<td>
					<select name="autorisatie[$bronhouderThema.bronhouder.id#**#-$bronhouderThema.thema.id]">
						<option value=""#if(!$autorisatie.containsKey($bronhouderThema)) selected#end>Geen</option>
						<option value="RAADPLEGER"#if($autorisatie.containsKey($bronhouderThema)&&$autorisatie.get($bronhouderThema).typeGebruik.toString().equals("RAADPLEGER")) selected#end>Raadpleger</option>
						<option value="DATABEHEERDER"#if($autorisatie.containsKey($bronhouderThema)&&$autorisatie.get($bronhouderThema).typeGebruik.toString().equals("DATABEHEERDER")) selected#end>Databeheerder</option>
						<option value="VASTSTELLER"#if($autorisatie.containsKey($bronhouderThema)&&$autorisatie.get($bronhouderThema).typeGebruik.toString().equals("VASTSTELLER")) selected#end>Vaststeller</option>
					</select>
				</td>
			</tr>
			#end
		</tbody>
		<tfoot>
			<tr>
				<th colspan="3">
					<div id="stdButton">
						<button id="button-ok" data-dojo-type="dijit/form/Button" type="submit" name="submit" value="Submit" title="Druk op deze knop om de NAW gegevens op te slaan">Opslaan</button>
						<button id="button-cancel" type="button" name="cancel" data-dojo-type="dijit/form/Button">Annuleren</button>
					</div>
				</th>
			</tr>
		</tfoot>
	</table>	
</form>

#cancelButtonScript()