<div style="width: 900px;">
	<div class="cdsAttributePanelHeader" style="padding: .5em;">
		<button style="float: right;">Opslaan</button>
		<button style="float: right;">Uitleg</button>
		<span>&nbsp;</span>
	</div>

	<p>
		Features overslaan als:
	</p>
	<div style="margin-top: 1.5em;">
		<div style="border: solid 1px black; padding: .5em; border-radius: 6px;">
			<div>
				<span style="float: left;"></span>
				<div class="mockup-filter">
					<span class="mockup-icon type-int"></span>
						<select>
							<option>Selecteer attribuut ...</option>
							<option>siteDesignation</option>
							<option>percentageUnderDesignation</option>
							<option>applicationSchema</option>
							<option>siteName</option>
							<option>Oppervlakte geometry</option>
							<option>inspireID</option>
							<option>siteProtectionClassification</option>
							<option>GFID</option>
							<option>legalFoundationDate</option>
							<option>legalFoundationDocument</option>
							<option>OBJECTID</option>
						</select>
						<select>
							<option>gelijk aan</option>
							<option>ongelijk aan</option>
							<option>kleiner dan</option>
							<option>kleiner dan of gelijk aan</option>
							<option>groter dan</option>
							<option>groter dan of gelijk aan</option>
							<option>is waar</option>
							<option>is onwaar</option>
							<option>bevat</option>
							<option>is onderdeel van</option>
						</select> 
						<input type="text" value="10">
					<a class="cdsAttributePanelBlockDelete" href="#"><span>x</span></a>
					<a class="cdsAttributePanelBlockEdit" href="#"><span>e</span></a>
				</div>
			</div>
			<div>
				<div class="mockup-logical-operator" style="float: left;">en</div>
				<div class="mockup-filter">
					<span class="mockup-icon type-string"></span><span>SITEDESIGNATION</span> <span>is gelijk aan</span> <span>ecologischeHoofdstructuur:ecologischeHoofdstructuur</span>
					<a class="cdsAttributePanelBlockDelete" href="#"><span>x</span></a>
					<a class="cdsAttributePanelBlockEdit" href="#"><span>e</span></a>
				</div>
			</div>
			<div>
				<div class="mockup-logical-operator" style="float: left;">en</div>
				<div class="mockup-filter">
					<span class="mockup-icon type-string"></span><span>SITEPROTECTIONCLASSIFICATION</span> <span>bevat</span> <span>natureConservation</span>
					<a class="cdsAttributePanelBlockDelete" href="#"><span>x</span></a>
					<a class="cdsAttributePanelBlockEdit" href="#"><span>e</span></a>
				</div>
			</div>
			<div class="mockup-logical-operator" style="display: inline-block; position: relative; margin-top: 1em; margin-bottom: 0.5em;">
				<a class="cdsAttributePanelBlockAdd" href="#"  style="display: block; position: absolute; top: -14px; right: -14px;"><span>+</span></a>
				en
			</div>
			<div style="clear: both;"></div>
		</div>
		<div class="mockup-logical-operator" style="margin: .5em; margin-left: 50%; margin-right: 50%; width: 3em; text-align: center;">of</div>
		<!--
		<div style="border: solid 1px black; padding: .5em; border-radius: 6px;">
			<div>
				<div style="float: left;"></div>
				<div class="mockup-filter">
					<span class="mockup-icon type-int"></span><span>Oppervlakte SHAPE</span> <span>groter dan</span> <span>10</span>
					<a class="cdsAttributePanelBlockDelete" href="#"><span>x</span></a>
					<a class="cdsAttributePanelBlockEdit" href="#"><span>e</span></a>
				</div>
			</div>
			<div>
				<div class="mockup-logical-operator" style="float: left;">en</div>
				<div class="mockup-filter">
					<span class="mockup-icon type-string"></span><span>SITEDESIGNATION</span> <span>is gelijk aan</span> <span>ecologischeHoofdstructuur:ecologischeHoofdstructuur</span>
					<a class="cdsAttributePanelBlockDelete" href="#"><span>x</span></a>
					<a class="cdsAttributePanelBlockEdit" href="#"><span>e</span></a>
				</div>
			</div>
			<div>
				<div class="mockup-logical-operator" style="float: left;">en</div>
				<div class="mockup-filter">
					<span class="mockup-icon type-string"></span><span>SITEPROTECTIONCLASSIFICATION</span> <span>bevat</span> <span>natureConservation</span>
					<a class="cdsAttributePanelBlockDelete" href="#"><span>x</span></a>
					<a class="cdsAttributePanelBlockEdit" href="#"><span>e</span></a>
				</div>
			</div>
			<div class="mockup-logical-operator" style="display: inline-block; position: relative; margin-top: 1em; margin-bottom: 0.5em;">
				<a class="cdsAttributePanelBlockAdd" href="#"  style="display: block; position: absolute; top: -14px; right: -14px;"><span>+</span></a>
				en
			</div>
			<div style="clear: both;"></div>
		</div>
		<div class="mockup-logical-operator" style="margin: .5em; margin-left: 50%; margin-right: 50%; width: 3em; text-align: center;">of</div>
		-->
		<div style="border: solid 1px black; padding: .5em; border-radius: 6px;">
			<div>
				<div style="float: left;"></div>
				<div class="mockup-filter">
					<span class="mockup-icon type-int"></span><span>Oppervlakte SHAPE</span> <span>groter dan</span> <span>10</span>
					<a class="cdsAttributePanelBlockDelete" href="#"><span>x</span></a>
					<a class="cdsAttributePanelBlockEdit" href="#"><span>e</span></a>
				</div>
			</div>
			<div class="mockup-logical-operator" style="display: inline-block; position: relative; margin-top: 1em; margin-bottom: 0.5em;">
				<a class="cdsAttributePanelBlockAdd" href="#"  style="display: block; position: absolute; top: -14px; right: -14px;"><span>+</span></a>
				en
			</div>
			<div style="clear: both;"></div>
		</div>
		<div style="margin-top: 2em;">
			<div class="mockup-logical-operator" style="position: relative; margin: .5em; margin-left: 50%; margin-right: 50%; width: 3em; text-align: center;">of
				<a class="cdsAttributePanelBlockAdd" href="#" style="float: right; display: block; position: absolute; right: -14px; top: -14px;"><span>+</span></a>
			</div>
			<div style="clear: both;"></div>
		</div>
	</div>
</div>