<div>
	<span class="cdsMappingPanelBackButton"></span>
	<h2>ETL-configuratie voor dataset <span class="cdsMappingPanelDatasetName"></span> (<span class="cdsMappingPanelThemeName"></span>). Bronhouder <span class="cdsMappingPanelBronhouderName"></span>.</h2>
	<span class="cdsMappingPanelHelpButton"></span>
</div>
<div class="cdsMappingPanelMenu">
	<ul>
		<li><a href="#" data-panel="conditions">Filtercondities</a></li>
		<li><a href="#" data-panel="mapping">Attribuutmapping</a></li>
		<li><a href="#" data-panel="preview">Voorbeeld</a></li>
	</ul>
</div>