@CHARSET "ISO-8859-1";

* {
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 11pt;
}
body {
	margin: 0px;
	padding: 0px;
}

h1 {
	font-size: 14pt;
	font-weight: bold;
}

h2 {
	font-size: 12pt;
	font-weight: bold;
	font-style: italic;
}

#preloader {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #fff url(../images/loading.gif) no-repeat
		center center;
	position: absolute;
	z-index: 999;
}

#header {
	height: 30px;
	padding-left: 10px;
	color: #336699;
	margin-top: 10px;
}

#header h1 {
	position: absolute;
	margin: 0px;
	padding: 0px;
	/*color: #4B6489;*/
	font-size: 28px;
	top: 4px;
	left: 8px;
}

img {
	vertical-align: middle;
	height: 100%;
}

#ipo_logo {
	position: absolute;
	background: url(../images/ipo-logo.jpg) top left no-repeat;
	width: 207px;
	height: 45px;
	right: 16px;
	top: 10px;
}

#header a span {
	display: none;
}

#footer {
	left: 10%;
	width: 90%;
}

#provincie-select {
	position: absolute;
	height: 32px;
	top: 6px;
	right: 16px;
	color: #FF7C00;
}

#tabs {
	height: 31px;
	padding-left: 10px;
}

/* style for help button */
#contextRight {
	position: absolute;
	top: 65px;
	left: auto;
	right: 10px;
	padding: 10px;
	font-size: 12pt;
}

#contextMiddleRight {
	position: absolute;
	top: 65px;
	left: auto;
	right: 100px;
	padding: 10px;
	font-size: 12pt;
}

#contextMiddle {
	text-align: center;
	position: absolute;
	top: 65px;
	right: 100px;
	left: 100px;
	padding: 10px;
	font-weight: bold;
	font-size: 12pt;
}

#contextLeft {
	position: absolute;
	top: 70px;
	right: auto;
	left: 10px;
	padding: 10px;
	font-weight: bold;
	font-size: 12pt;
	color: #336699;
}
#contextLeft h3 {
	margin: 0;
}

/* style for buttons other than the help button */
#stdButton {
	font-weight: normal;
	/*font-size: 12pt; */
	color: #003366;
}

/* style for help text outside the help window */
#localhelp {
	left: 10px;
	padding: 10px;
	font-weight: normal;
	font-style: italic;
	color: #336699;
}

/* style for help text of the context sensitive help window */
.contexthelp {
	left: 10px;
	padding: 10px;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	font-weight: normal;
	font-style: normal;
	color: #006699;
}

.contexthelp h1 {
	font-size: 20pt;
	font-weight: bold;
	font-style: normal;
	color: #002244;
}

.contexthelp h2 {
	font-size: 14pt;
	font-weight: bold;
	font-style: normal;
	color: #003366;
}

.contexthelp h3 {
	font-size: 11pt;
	font-weight: bold;
	font-style: italic;
	color: #336699;
}

.contexthelp em {
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	color: #336699;
}

.contexthelp hr {
	color: #6699CC;
}

.contexthelp .note {
	font-size: 9pt;
	font-weight: normal;
	font-style: italic;
	color: #003366;
}

#content {
	margin-left: 10px;
	margin-right: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: #B5BCC7;
	padding: 10px;
}

/* special styles */
.superscript {
	font-size: x-small;
	vertical-align: top;
}

.subscript {
	font-size: x-small;
	vertical-align: bottom;
}

/*** Tables: general***/
table.cds-table {
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}

table.cds-table td,table th {
	padding: 6px;
}

table.cds-table p {
	margin: 0px;
}

table.cds-table thead tr,tfoot tr {
	border-top: solid 2px #AAAAAA;
	border-bottom: solid 2px #AAAAAA;
	background-color: #BBBBBB;
}

table.cds-table thead th,tfoot th {
	color: white;
	font-weight: bold;
	font-style: normal;
}

table.cds-table tbody tr {
	border-bottom: solid 1px #CCCCCC;
	background-color: #E0E0E0;
}

table.cds-table small {
	font-size: 8pt;
}


/*** Tables: validation ***/
table.validation {
	border-collapse: collapse;
}

table.validation td,table.validation th {
	padding: 6px;
}

/*** Tables: filters***/
table.filters {
	width: 100%;
	border-collapse: collapse;
}

table.filters td,table.filters th {
	text-align: left;
	vertical-align: top;
	padding: 6px;
}

table.filters  thead tr,tfoot tr {
	border-top: solid 2px #BBBBBB;
	border-bottom: solid 2px #AAAAAA;
	background-color: #BBBBBB;
}

table.filters  thead th,tfoot th {
	color: white;
	font-weight: bold;
	font-style: normal;
}

table.filters  tbody tr {
	border-bottom: solid 1px #BBBBBB;
	background-color: #BBBBBB;
}

/*** Tables: login ***/
table.login {
	width: 30%;
	border-collapse: collapse;
}

/*** Tables: monitoring ***/
table.monitoring {
	table-layout: fixed;
	/* Fix for IE7, without it the table goes offscreen */
	width: 100%;
	border-collapse: collapse;
	text-align: center;
}

table.monitoring td {
	width: 25%;
	border-width: 1px;
	border-right-style: solid;
	border-right-color: gray;
}

table.monitoring tbody tr {
	border-width: 0px;
}

/*** Tables: properties ***/
table.properties {
	border-collapse: collapse;
}

table.properties tbody tr {
	border-bottom: solid 1px #CCCCCC;
	background-color: #FFFFFF;
}

table.properties th,table.properties td {
	text-align: left;
	vertical-align: top;
	border-top: solid 1px #CCCCCC;
	border-bottom: solid 1px #CCCCCC;
	font-size: 10pt;
}

table.properties th {
	width: 15em;
	font-weight: bold;
}

/*** Tables: log-items ***/
table.log-items {
	border-collapse: collapse;
	width: 100%;
}

table.log-items thead th,table.log-items  tfoot th {
	color: black;
	font-weight: bold;
	font-style: normal;
	background-color: #BBBBBB;
	border-bottom: solid 1px #CCCCCC;
}

table.log-items tbody tr {
	border-bottom: solid 1px #CCCCCC;
}

table.log-items th,table.log-items td {
	text-align: left;
	vertical-align: top;
	font-size: 9pt;
}

table.log-items tr.odd {
	color: black;
	background-color: #EEEEEE;
}

table.log-items tr.even {
	color: black;
	background-color: #FFFFFF;
}

table.log-items tr.even.error {
	font-style: italic;
	background-color: #FFCCCC;
}

table.log-items tr.odd.error {
	font-style: italic;
	background-color: #FF9999;
}

table.log-items .fase {
	width: 10em;
}

table.log-items tbody tr:hover,table.log-items tbody tr.error:hover {
	background-color: #99CCFF;
}

table.log-items .count {
	text-align: right;
}

table.log-items .loglevel {
	width: 8em;
}

/*** Class styles ***/
.greenlight {
	color: #00CC33;
	font-weight: bold;
}

.orangelight {
	color: #FF6600;
	font-weight: bold;
}

.redlight {
	color: #CC0033;
	font-weight: bold;
}

.error {
	color: red;
}

.warning {
	color: orange;
}

.ok {
	color: #4aae00;
	font-weight: bold;
}

.cds-tab-container {
	display: block;
	margin: 10px;
}

.cds-tab-container .cds-tab-strip {
	display: block;
	width: 100%; 
	margin: 0; 
	padding: 0;	
}

.cds-tab-container .cds-tab-content {
	display: block;
	border-left: solid 1px #b5bcc7; 
	border-right: solid 1px #b5bcc7; 
	border-bottom: solid 1px #b5bcc7; 
	padding: 10px;"	
}

.cds-tab-container .tabLabel {
	text-decoration: none;
	color: black;
}