#set($dataset = $datasets[0])
#set($bronhouder = $job.bronhouder)
L.S.

De Centrale Data- en Services omgeving heeft een probleem geconstateerd bij het uitvoeren van een job. 

Volg onderstaande link voor meer informatie:
$hostProto://$host/admin/ba/bronhouders/$bronhouder.id/datasetTypes/$job.datasetType.id/jobs/$job.id
